# Dependencies
node_modules/
**/node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist
frontend/dist

# Cache and temporary directories
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache
.next
out
.nuxt

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

